.gallery-holder {
  background: transparent;
  padding: 2rem 0;
}

.container3 {
  padding: 75px 0;
  margin: 0 auto;
  width: 1140px;
}
.gallery {
  position: relative;
  margin-bottom: 45px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 60px;
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: bold;
}
.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
  border: 5px solid #065F6A;
  border-radius: 10px;
}
.item {
  position: relative; /* Enables positioning of child elements */
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: all 0.8s ease;
  overflow: hidden; /* Ensures content doesn't overflow the item */
}

.description {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth fade-in effect */
}

.item:hover .description {
  opacity: 1; /* Makes the description visible on hover */
}
:nth-child(1 of .item) {
    border-radius: 10px 0 0 10px;
}

/* target last element with class ".circle" */
:nth-last-child(1 of .item) {
    border-radius: 0 10px 10px 0;
    
}
.item:hover {
  flex: 7;
  border: 0.2rem solid #086b78;
}
.item-1 {
  background-image: url("../images/autoinsight.webp");
}
.item-2 {
  background-image: url("../images/momentum.webp");
}
.item-3 {
  background-image: url("../images/discord.webp");
}
.item-4 {
  background-image: url("../images/bam.webp");
}
