.daddy {
  background: url(bg.webp) no-repeat top center / cover;
  background-blend-mode: multiply;
  /* background-color: rgba(43, 51, 59, 0.322); */
  background-attachment: fixed;
  transform-style: preserve-3d;
}

.container3 {
  padding: 75px 0;
  margin: 0 auto;
  width: 1140px;
}
.gallery {
  position: relative;
  margin-bottom: 45px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 60px;
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: bold;
}
.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}
.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
  border-radius: 10px;
}
.item:hover {
  flex: 7;
}
.item-1 {
  background-image: url("https://source.unsplash.com/random?stop+sign");
}
.item-2 {
  background-image: url("https://source.unsplash.com/random?stop+sign");
}
.item-3 {
  background-image: url("https://source.unsplash.com/random?stop+sign");
}
.item-4 {
  background-image: url("https://source.unsplash.com/random?stop+sign");
}
.item-5 {
  background-image: url("https://source.unsplash.com/random?stop+sign");
}
